* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100vh;
  width: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4caf50;
  width: 100%;
  height: 60px;
}
nav ul {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  list-style: none;
}
nav ul li {
  margin: 0 1rem;
}
nav ul li a {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  position: relative; /* Required for ::after positioning */
  transition: transform 0.5s, background-color 0.5s;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0; /* Positioned at the bottom of the link */
  left: 0;
  width: 0%; /* Initially invisible */
  height: 3px;
  background-color: red; /* Highlight color */
  transition: width 0.5s ease-in-out; /* Smooth animation for width */
}

nav ul li a:hover::after {
  width: 100%; /* Expands fully on hover */
}

header{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    text-align: center;
}
header h1 span{
    color: #ff0044;
}